/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Faculty+Glyphic&display=swap');

/* Color palette */
:root {
  --white: #FDFBEE;
  --blue: #57B4BA;
  --green: #015551;
  --red: #FE4F2D;
}

body {
  font-family: "Faculty Glyphic", sans-serif !important;
}

body.light {
  background-color: var(--white) !important;
}

h1, h2, h3 {
  color: var(--red) !important;
}

a {
  color: var(--blue) !important;
}

/* Set Username Font */
.profile-card .Player-username {
  font-family: "Ballet", cursive !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}